<style>
.time-cont {
    width: 100%;
    max-width: 728px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.time .-period:last-child .-vr:last-child::after {
    content: '';
    display: inline-block;
    width: 2px;
    background: #fff;
    position: absolute;
    left: -33px;
    top: 18px;
    bottom: 0;
    z-index: 2;
    height: 38px;
}
.time .-time {
    text-align: right;
    font-size: 27px;
    line-height: 1;
    color: #005999;
    display: inline-block;
    width: 48px;
}
.static-content li, .static-content ._icon {
    font-size: 15px;
    line-height: 1.53333333;
    margin-bottom: 24px;
}
.time .-period {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}
.static-content ol, .static-content li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.time {
    position: relative;
}
.time .-vrs {
    width: calc(100% - 64px - 48px);
}
.time-cont ul, .time-cont ol, .time-cont li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.time .-vr {
    margin-bottom: 16px;
    position: relative;
}

.time .-vr::before {
    content: '';
    width: 8px;
    height: 8px;
    background: #F48024;
    border-radius: 50%;
    border: 4px solid #FFF;
    display: inline-block;
    position: absolute;
    top: 4px;
    z-index: 3;
    left: -41px;

}
.time .-vrs {
    width: calc(100% - 64px - 48px);
}
.time::after {
    content: '';
    display: inline-block;
    width: 1px;
    background: #e4e6e8;
    position: absolute;
    left: 79px;
    top: 4px;
    bottom: 0;
    z-index: 1;
}
/* детальные страницы */
h1.user {color:#f56400;font-size: 4em;font-family: Georgia,Arial,sans-serif;}
h1.prof {color:#f56400;font-size: 3em;font-family: Georgia,Arial,sans-serif;}
h3.user {color: #666;font-weight: 300;font-size: 1.3em;}
hr.user {display: block;height: 1px;margin: 1em 0;width: 200px;border: 0;border-top-width: 0px;border-top-style:none;
	 border-top-color: currentcolor;border-top: 2px solid #999;padding: 0;}
.user-img{background: url(https://toxu.ru/uploads/default/original/2X/5/53da4f2f4eeb867362d7c7f9cd882495da075d28.jpg);height: 119px;width:70%;}
.prof-glog-blog {max-width: 500px;}
.bord {border-bottom: 2px solid #f56400;max-width: 800px;padding-top:10px;}
.bord-2 {border-bottom: 1px solid #ddd;max-width: 600px;padding-top: 10px;}
.bord-3 {border-bottom: 1px solid #ddd;max-width: 800px;padding-top: 10px;}
 a.ser{color: #666;margin-bottom: 2px;}
.new-str{ clear: both;}
.prof-blog {float: left;width: 33%;}
.prof-blog-2 {float: left;width: 25%;}
.prof-num {color: #f56400; text-align: center; font-size: 4em;font-family: Georgia,Arial,sans-serif;}
.prof-num-u {color: #f56400; text-align: center; font-size: 3em;font-family: Georgia,Arial,sans-serif;}
.prof-txt {text-align:center;font-size:1.2em;color:#666;font-family: Georgia,Arial,sans-serif;font-weight: 300;}
a.qa-link {color: #222;}
h3.suggested-topics-message a:hover {color: #f56400;}
 
@media (max-width: 850px){
.prof-txt{white-space: nowrap;    overflow: hidden;    padding: 5px;    text-overflow: ellipsis;}	
.prof-blog-2 {float: left;width: 33%;}
.prof-num, h1.prof {font-size: 2em;}
.prof-txt, h3.user {font-size: 1em;}
.prof-num-u {font-size: 1.2em;}
.prof-num img.avatar {width: 34px;height:34px;}  
.no-mob {display: none;}
}
</style>

{{#d-section pageClass="about"}}
  <div class='container'>
    <div class='contents clearfix'>

      <ul class="nav-pills">
        <li class="nav-item-about">{{#link-to 'about' class="active"}}{{i18n 'about.simple_title'}}{{/link-to}}</li>
        {{#if faqOverriden}}
            <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{else}}
          <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{/if}}
        <li class="nav-item-tos">{{#link-to 'tos'}}{{i18n 'tos'}}{{/link-to}}</li>
        <li class="nav-item-privacy">{{#link-to 'privacy'}}{{i18n 'privacy'}}{{/link-to}}</li>
      </ul>

<center><br>
<h1 class="prof">{{i18n 'about.simple_title'}}</h1>
<h3 class="user">Миссия Toxu — делиться знаниями</h3>
<div class="user-img"></div>

<br>

       
<div style="max-width:780px">

<div class="prof-blog">
<div class="prof-num-u">8k</div>
<div class="prof-txt">вопросов</div>
</div>

<div class="prof-blog">
<div class="prof-num-u">{{number model.stats.user_count}}</div>
<div class="prof-txt">участников</div>
</div>


<div class="prof-blog">
<div class="prof-num-u">23k</div>
<div class="prof-txt">ответов</div>
</div>

</div>
 <div class="bord-3 new-str"></div>
</center>
<div class="new-str">
    <br><br>
<section class="time-cont"><ol class="time">
        <li class="-period">
            <span class="-time">'17</span>
            <ol class="-vrs">
         <li class="-vr"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
	 
Разочарованные существующими Q&A системами, группа программистов из Нижнего Новгорода решила создать новый сайт вопросов и ответов. Для этого использовали свободное программное обеспечение <a title="О Discourse" href="https://toxu.ru/c/programming/discourse">Discourse</a>.
	 </font></font></li>
         <li class="-vr"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Запуск Toxu.ru в режиме alfa - тестирования.</font></font></li>
            </ol>
        </li>

        <li class="-period">
            <span class="-time">'18</span>
            <ol class="-vrs">
                <li class="-vr"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Сайт переходит в активное beta - тестирование.</font></font></li>
			 
             </ol>
        </li>
</ol></section>  
 
      {{#if contactInfo}}
        <section class='about contact'>
            <h3>{{d-icon "envelope-o"}} {{i18n 'about.contact'}}</h3>
            <p>{{{contactInfo}}}</p>
        </section>
      {{/if}}   
    
    {{#if model.moderators}}
        <section class='about moderators'>
          <h3>{{d-icon "users"}} {{i18n 'about.our_moderators'}}</h3>

          <div class='users'>
            {{#each model.moderators as |m|}}
              {{user-info user=m}}
            {{/each}}
          </div>
          <div class='clearfix'></div>
        </section>
      {{/if}}

</div>
    </div>
  </div>
{{/d-section}}
