<style>
.time-cont {
    width: 100%;
    max-width: 728px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.time .-period:last-child .-vr:last-child::after {
    content: '';
    display: inline-block;
    width: 2px;
    background: #fff;
    position: absolute;
    left: -33px;
    top: 18px;
    bottom: 0;
    z-index: 2;
    height: 30px;
}
.time .-time {
    text-align: right;
    font-size: 27px;
    line-height: 1;
    color: #005999;
    display: inline-block;
    width: 48px;
}
.static-content li, .static-content ._icon {
    font-size: 15px;
    line-height: 1.53333333;
    margin-bottom: 24px;
}
.time .-period {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}
.static-content ol, .static-content li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.time {
    position: relative;
}
.time .-vrs {
    width: calc(100% - 64px - 48px);
}
.time-cont ul, .time-cont ol, .time-cont li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.time .-vr {
    margin-bottom: 16px;
    position: relative;
}

.time .-vr::before {
    content: '';
    width: 8px;
    height: 8px;
    background: #F48024;
    border-radius: 50%;
    border: 4px solid #FFF;
    display: inline-block;
    position: absolute;
    top: 4px;
    z-index: 3;
    left: -41px;

}
.time .-vrs {
    width: calc(100% - 64px - 48px);
}
.time::after {
    content: '';
    display: inline-block;
    width: 1px;
    background: #e4e6e8;
    position: absolute;
    left: 79px;
    top: 4px;
    bottom: 0;
    z-index: 1;
}
</style>

{{#d-section pageClass="about"}}
  <div class='container'>
    <div class='contents clearfix'>

      <ul class="nav-pills">
        <li class="nav-item-about">{{#link-to 'about' class="active"}}{{i18n 'about.simple_title'}}{{/link-to}}</li>
        {{#if faqOverriden}}
            <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{else}}
          <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{/if}}
        <li class="nav-item-tos">{{#link-to 'tos'}}{{i18n 'tos'}}{{/link-to}}</li>
        <li class="nav-item-privacy">{{#link-to 'privacy'}}{{i18n 'privacy'}}{{/link-to}}</li>
      </ul>

<center><br>
<h1 class="prof">{{i18n 'about.simple_title'}}</h1>
<h3 class="user">Миссия Toxu — делиться знаниями</h3>
<div class="user-img"></div>

<br>

       
<div style="max-width:780px">

<div class="prof-blog">
<div class="prof-num-u">{{number model.stats.topic_count}}</div>
<div class="prof-txt">вопросов</div>
</div>

<div class="prof-blog">
<div class="prof-num-u">{{number model.stats.user_count}}</div>
<div class="prof-txt">участников</div>
</div>


<div class="prof-blog">
<div class="prof-num-u">{{number model.stats.post_count}}</div>
<div class="prof-txt">ответов</div>
</div>

</div>
 <div class="bord-3 new-str"></div>
</center>
<div class="new-str">

    <br><br>
<section class="time-cont"><ol class="time">
        <li class="-period">
            <span class="-time">'17</span>
            <ol class="-vrs">
         <li class="-vr"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разочарованные существующими Q&A системами, группа программистов из Нижнего Новгорода, используя свободное программное обеспечение Discourse, решила создать новый сайт вопросов и ответов.</font></font></li>
         <li class="-vr"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Запуск Toxu.ru в режиме alfa- тестирования.</font></font></li>
            </ol>
        </li>

        <li class="-period">
            <span class="-time">'18</span>
            <ol class="-vrs">
                <li class="-vr"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Сайт переходит в активное beta- тестирование.</font></font></li>
			 
             </ol>
        </li>
</ol></section>  
 
      {{#if contactInfo}}
        <section class='about contact'>
            <h3>{{d-icon "envelope-o"}} {{i18n 'about.contact'}}</h3>
            <p>{{{contactInfo}}}</p>
        </section>
      {{/if}}   
    
    {{#if model.moderators}}
        <section class='about moderators'>
          <h3>{{d-icon "users"}} {{i18n 'about.our_moderators'}}</h3>

          <div class='users'>
            {{#each model.moderators as |m|}}
              {{user-info user=m}}
            {{/each}}
          </div>
          <div class='clearfix'></div>
        </section>
      {{/if}}

</div>
    </div>
  </div>
{{/d-section}}
{{footer-toxu}}
