{{site-header canSignUp=canSignUp
              showCreateAccount=(route-action "showCreateAccount")
              showLogin=(route-action "showLogin")
              showKeyboard=(route-action "showKeyboardShortcutsHelp")
              toggleMobileView=(route-action "toggleMobileView")
              toggleAnonymous=(route-action "toggleAnonymous")
              logout=(route-action "logout")}}



<div id="main-outlet" class="wrap {{if currentUser.custom_fields.userbar_cat "test"}}">
  <div class="container">
    {{#if showTop}}
      {{custom-html name="top"}}
    {{/if}}
    {{notification-consent-banner}}
    {{global-notice}}
    {{create-topics-notice}}
  </div>
  {{outlet}}
  {{outlet "user-card"}}
</div>

{{outlet "modal"}}
{{topic-entrance}}
{{outlet "composer"}}
