<div id="fon" class="fon">
<a name="toxu-top"></a> 
 
{{mount-widget widget="toxu-items"}}

<div class="blog-list tl-{{{currentUser.trust_level}}}">

<div class="sidebar"> 
<div class="sidebar-fix"> 
<div class="sidebar-fon"> 
{{mount-widget widget="sidebar-cat" args=(hash cslug=category.slug)}}
</div> 
{{mount-widget widget="toxu-info"}}
</div>
</div>

<div class="telo-qa {{if currentUser.custom_fields.userbar_profile "other-no"}}">

<div class="container list-container has-sidebar">
 
{{discourse-banner user=currentUser banner=site.banner}} 
 
 
<div class="list-controls">
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div> 
 
 
 <div class="row">
    <div class="full-width">
      {{conditional-loading-spinner condition=loading}}
      <div id="header-list-area">
        {{outlet "header-list-container"}}
      </div>
    </div>
  </div>
  
  <div class="row {{if loading "hidden"}}">
    <div class="full-width">
      <div id="list-area">
        {{plugin-outlet name="discovery-list-container-top"
                        args=(hash category=category listLoading=loading)}}
        {{outlet "list-container"}}
      </div>
    </div>
  </div>
 

  
</div>


<div class="sidebar-add-qa">  <button id="create-topic" class="btn btn-default btn btn-icon-text ember-view">    <i class="fa fa-plus d-icon d-icon-plus"></i>
<span class="d-button-label">Задать вопрос</span>
</button></div>

<div class="sidebar-right"> 
    {{cat-info category=category}}
</div>

</div>
</div>

{{plugin-outlet name="discovery-below"}}
</div>
<a href="https://toxu.ru/#toxu-top" id="scroll-top" style="display: none;" class="cvet"><i class="fa fa-arrow-up"></i></a>
