<div class='cat-pods'>
<h3 class='topic-list-link top'>Популярные за сегодня</h3>
<div class="rss-link-top"><a  href="https://toxu.ru/top">Все</a></div>
<div class="blogcvet">{{mount-widget widget="link-top"}}</div>
</div>

{{mount-widget widget="topic-cat-info" args=(hash model=topic)}}

<div id='ostan'>
<div class='messag'>
<h3 class="topic-list-link recom">Рекомендованные</h3>
{{#if topics}} {{else}} 
{{#unless loadingMore}}
<center><small style="color:#888">формируется список...<br><br></small></center>
{{/unless}}
{{/if}}

<div class="blogcvet">
{{topic-list-sug showParticipants=showParticipants
                 showPosters=showPosters
                 hideCategory=hideCategory
                 topics=topics
                 expandExcerpts=expandExcerpts
                 bulkSelectEnabled=bulkSelectEnabled
                 canBulkSelect=canBulkSelect
                 selected=selected
                 skipHeader=skipHeader}}
</div>
</div>

<div class='qa-add'>
{{create-topic currentUser=currentUser createTopic=createTopic}}
<button class="widget-button btn create no-text btn-icon" aria-label="begin composing a reply to this topic" title="начать составление ответа на эту тему"><i class="fa fa-reply d-icon d-icon-reply" aria-hidden="true"></i></button>
<a href="https://toxu.ru/t/{{unbound topic.slug}}/{{unbound topic.id}}.rss" title="лента для данного вопроса и его ответов" class="ser cvet">RSS лента вопроса...</a>

</div>
</div>
<div class='mail-blog'><i class="fa fa-envelope d-icon d-icon-envelope"></i> Почта. <a href="https://toxu.ru/my/messages">Мои сообщения...</a></div>
