<div id='ostan'>

<h3 class="oglavl recom">Рекомендованные</h3>


{{#if topics}} 

<div class="blogcvet">
{{topic-list-sug showParticipants=showParticipants
                 showPosters=showPosters
                 hideCategory=hideCategory
                 topics=topics
                 expandExcerpts=expandExcerpts
                 bulkSelectEnabled=bulkSelectEnabled
                 canBulkSelect=canBulkSelect
                 selected=selected
                 skipHeader=skipHeader}}
</div>

{{else}} 
{{#unless loadingMore}}
<center><small style="color:#888">формируется список...<br><br></small></center>
{{/unless}}
{{/if}}

<div class='qa-add'>
{{create-topic currentUser=currentUser createTopic=createTopic}}
<a href="https://toxu.ru/t/{{unbound topic.slug}}/{{unbound topic.id}}.rss" title="лента для данного вопроса и его ответов" class="ser cvet">RSS лента вопроса...</a>

</div>
</div>
<div class='mail-blog'><i class="fa fa-envelope d-icon d-icon-envelope"></i> Почта. <a href="https://toxu.ru/my/messages">Мои сообщения...</a></div>
