<div class='cat-pods'>
<h3 class='topic-list-link top'>Популярные за сегодня</h3>
<div class="rss-link-top"><a  href="https://toxu.ru/top">Все</a></div>

 
 {{mount-widget widget="link-top"}}
</div>

{{mount-widget widget="topic-cat-info" args=(hash model=topic)}}

<div class='messag'>
<h3 class="topic-list-link recom">Рекомендованные</h3>
{{#if topics}} {{else}} 
{{#unless loadingMore}}
<center><small style="color:#888">формируется список...<br><br></small></center>
{{/unless}}
{{/if}}


{{topic-list-sug showParticipants=showParticipants
                 showPosters=showPosters
                 hideCategory=hideCategory
                 topics=topics
                 expandExcerpts=expandExcerpts
                 bulkSelectEnabled=bulkSelectEnabled
                 canBulkSelect=canBulkSelect
                 selected=selected
                 skipHeader=skipHeader}}

</div>

<div class='qa-add'>
{{create-topic currentUser=currentUser createTopic=createTopic}}

<a href="https://toxu.ru{{unbound url}}.rss" title="лента для данного вопроса и его ответов" class="ser cvet">RSS лента вопроса...</a>

</div>
