{{#if category}}
<div class="sidebar-right-fon">

<div class="cat-big-img">
    <div class="dropdown pravo">
    <a title="{{{dir-span category.name}}}" class="info-soc" data-toggle="dropdown">
    {{cdn-img src=category.categorimg class="cat-big"}}</a>

    <div class="dropdown-menu cat">
    {{cdn-img src=category.categorimg class="cat-bigs"}}
        <div class="cattxt">{{{dir-span category.categortxt}}}
        
    <div class="txt">
У вас есть предложения по этому разделу? В <a class="txt" href="https://toxu.ru{{{dir-span category.topic_url}}}">этой теме</a>, вы можете добавить их.       
    </div>        
                <div class="cattxtsi" style="border-left: 2px solid #{{{dir-span category.color}}};">
                <div class="telocat">
                Всего задано вопросов в разделе – <span class="num-info">{{{dir-span category.topic_count}}}</span>, 
                количество просмотров – <span class="num-info">{{{dir-span category.post_count}}}</span>.
                </div>
                </div>
        
        </div>
    </div>
</div>

    <div class="cat-img-num">{{d-icon "eye"}} {{{dir-span category.post_count}}}</div>
    <div class="cat-img-qa">{{d-icon "question"}} {{{dir-span category.topic_count}}}</div>
</div>

<span class="dis-info-name">{{{dir-span category.name}}}</span>

<span class="dis-info">{{{dir-span category.description}}}<br>

<span class="scryt">
<br> {{d-icon "eye"}} {{{dir-span category.post_count}}} &nbsp; - &nbsp; вопросов: 
<span class="num-info">{{{dir-span category.topic_count}}}</span>
</span>

</span>

<span class="dis-info-more"><a href="https://toxu.ru{{{dir-span category.topic_url}}}">{{d-icon "list"}} подробнее...</a></span>

<span class="dis-info-rss"><a href="https://toxu.ru/c/{{{dir-span category.slug}}}.rss">{{d-icon "list"}} лента раздела...</a></span>
</div>

<div class="sidebar-qa">
<div class="topic-list-link-top">Связанное</div>
{{dir-span category.categorqa}}
</div>

<div class="cat-tag-info">
{{dir-span category.categorization}}
</div>

{{else}}    

<div class="sidebar-m">
 {{mount-widget widget="right-bar-user-info"  args=(hash listLoading=loading)}}
</div>
{{/if}}
