{{#if category}}
<div class="sidebar-right-fon">

<div class="catimg">{{cdn-img src=category.uploaded_logo.url class="cat-big"}}</div>

<div class="cat-big-img">
    <div class="dropdown pravo">
    <a title="{{{dir-span category.name}}}" class="info-soc" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{cdn-img src=category.categorimg class="cat-big"}}</a>

    <div class="dropdown-menu cat" aria-labelledby="dropdownMenuButton">
    {{cdn-img src=category.categorimg class="cat-bigs"}}
        <div class="cattxt">{{{dir-span category.categortxt}}}
        
                <div class="cattxtsi" style="border-left: 2px solid #{{{dir-span category.color}}};">
                <div class="telocat">
                Количество заданных вопросов в разделе – <span class="num-info">{{{dir-span category.topic_count}}}</span>, 
                количество просмотров – <span class="num-info">{{{dir-span category.post_count}}}</span>.
                </div>
                </div>
        
        </div>
    </div>
</div>

    <div class="cat-img-num"><i class="fa fa-eye" aria-hidden="true"></i> {{{dir-span category.post_count}}}</div>
    <div class="cat-img-qa"><i aria-hidden="true" class="fa fa-question"></i> {{{dir-span category.topic_count}}}</div>
</div>

<span class="dis-info-name">{{{dir-span category.name}}}</span>

<span class="dis-info">{{{dir-span category.description}}}<br>

<span class="scryt">
<br> <i class="fa fa-eye" aria-hidden="true"></i> {{{dir-span category.post_count}}} &nbsp; - &nbsp; вопросов: 
<span class="num-info">{{{dir-span category.topic_count}}}</span>
</span>

</span>

<span class="dis-info-more"><a href="https://toxu.ru{{{dir-span category.topic_url}}}"><i class="fa fa-list" aria-hidden="true"></i> подробнее...</a></span>

<span class="dis-info-rss"><a href="https://toxu.ru/c/{{{dir-span category.slug}}}.rss"><i class="fa fa-rss" aria-hidden="true"></i>
 лента раздела...</a></span>

<div class="cat-info">
{{dir-span category.categorization}}
</div>
</div>

<div class="sidebar-qa">
{{dir-span category.categorqa}}
</div>

{{else}}    

<div class="sidebar-m">
 {{mount-widget widget="sub-menu"  args=(hash listLoading=loading)}}
</div>
{{/if}}
