{{#if category}}
<div class="sidebar-right-fon">

<div class="catimg">{{cdn-img src=category.uploaded_logo.url class="cat-big"}}</div>
div class="cat-big-img">{{cdn-img src=category.categorimg class="cat-big"}}</div>

<span class="dis-info-name">{{{dir-span category.name}}}</span>

<span class="dis-info">{{{dir-span category.description}}}<br>

<br> <i class="fa fa-eye" aria-hidden="true"></i> {{{dir-span category.post_count}}} &nbsp; - &nbsp; вопросов: <span class="num-info">{{{dir-span category.topic_count}}}</span></span>

<span class="dis-info-more"><a href="https://toxu.ru{{{dir-span category.topic_url}}}"><i class="fa fa-list" aria-hidden="true"></i> подробнее...</a></span>

<span class="dis-info-rss"><a href="https://toxu.ru/c/{{{dir-span category.slug}}}.rss"><i class="fa fa-rss" aria-hidden="true"></i>
 лента раздела...</a></span>

<div class="cat-info">
{{dir-span category.categorization}}
</div>
</div>

<div class="sidebar-qa">
{{dir-span category.categorqa}}
</div>

{{else}}    

<div class="sidebar-m">
 {{mount-widget widget="sub-menu"  args=(hash listLoading=loading)}}
</div>
{{/if}}
