<style type="text/css">
img.img {border: 1px solid #e9e9e9;margin-top: 15px;margin-bottom: 15px;box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);}
h1 {font-size: 22px;margin-top: 5px;color: #444;}
h2 {font-size: 18px;margin-top: 5px;color: #444;}
h3 {font-size:18px;color: #666;margin-top: 20px;}
tbody {border-top: none;}
tr {border-bottom: none;}
img {max-width: 95%;}
.menu {margin: 15px;display: block;}
.menu i.fa {margin-right: 5px;}
a.menu {display: block;margin: 15px;color: #222;}
a.menu:hover, span.menu {color: #f56400;}
i.small {font-size: 15px;}
.sidb {width: 265px;background: #f6f8fe;float: left;margin-top: 13px;font-size: 15px;}
.help-telo {margin-left: 20px !important;width: 75%; float: right;}
.ask {position: relative;}
.ask-block{width: 49%;display: inline-block;}
a.contacts{margin-top: 30px;}
@media screen and (max-width: 1200px) {.help-telo {width: 70%;}}
@media screen and (max-width: 1000px) {.help-telo, .sidb {width: 100%;}.sidb {margin-top: 1px;}}
@media screen and (max-width: 700px) {.ask-block{width: 100%;}}
</style>

 

<div class="help">
<div class="blog-list">
<div class="help-telo">  

<h1>Часто задаваемые вопросы</h1>


<span class="excerpt">В данный раздел попадают ваши вопросы заданные на сайте Toxu...</span>


<div class="ask">

<div class="ask-block"><h3>Как задавать вопросы</h3>
<ul>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/kak-zadat-vopros-na-sajte-toxu/1439">Как задать вопрос?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/kakovy-rekomendaczii-i-politika-dlya-redaktirovaniya-voprosa-na-toxu-ru/934">Как редактировать вопрос?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/kakovy-osnovnye-pravila-i-rekomendaczii-dlya-voprosov-na-toxu/301">Каковы основные рекомендации для вопросов?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/wiki-voprosy-i-otvety-na-toxu-ru/2513">Как создать Wiki вопрос/ответ?</a></li>
</ul>
</div>



<div class="ask-block"><h3>Как публиковать ответы</h3>
<ul>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/kak-otvetit-na-vopros-na-sajte-toxu-ru/1727">Как ответить на вопрос на сайте Toxu.ru?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/luchshij-otvet-na-sajte-toxu/2479">Как выбрать лучший ответ?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/pochemu-moj-otvet-udalen-skryt/159">Почему мой ответ удален/скрыт?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/formatirovanie-teksta/428">Как правильно оформить ответ?</a></li>
</ul>
</div> 

<div class="ask-block"><h3>Моя учётная запись</h3>
<ul>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/zapolnenie-profilya/2571">Зачем заполнять профиль на Toxu?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/pochemu-sajt-zapreshhaet-menyat-niki/5488">Почему сайт запрещает менять ники?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/kak-priglasit-druzej-na-resurs-toxu/371">Как пригласить друзей?</a></li>
</ul>
</div>

<div class="ask-block"><h3>Публикации</h3>
<ul>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/kak-sozdat-opros-na-toxu/1452">Как создать опрос?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/vojna-pravok-na-toxu/1281">Что такое Война правок?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/wiki-voprosy-i-otvety-na-toxu-ru/2513">Wiki вопросы и ответы на Toxu.ru</a></li>
</ul>
</div>

 

<div class="ask-block"><h3>Репутация и модерация</h3>
<ul>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/mogu-li-ya-reklamirovat-svoyu-kompaniyu-v-otvetah-na-toxu/6079">Как не быть спамером?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/chto-takoe-byt-pochtitelnym/260">Какое поведение ожидается от участников?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/kak-pozhalovatsya-na-vopros-ili-otvet/1462">Как пожаловаться на вопрос/ответ?</a></li>
</ul>
</div>


<div class="ask-block"><h3>Сообщество Toxu</h3>
<ul>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/chem-toxu-otlichaetsya-ot-podobnyh-sajtov/5696">Чем Toxu отличается от подобных сайтов?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/na-sajte-toxu-est-czenzura/5664">На Toxu есть цензура?</a></li>
<li><a class="ask-link" target="_blank" href="https://toxu.ru/t/gruppy-polzovatelej/296">Что такое Группы пользователей?</a></li>
</ul>
</div>


</div>
  
<h3>Общее</h3>

<a target="_blank"  title="Что значит слово Toxu?" href="https://toxu.ru/toxu">Что означает название сайта «Toxu»?</a><br>
<i class="small">Почему сайт назван Toxu, что означает слово Toxu...</i><br><br>

<a target="_blank"  class="ask-link" href="https://toxu.ru/t/dlya-chego-ya-mogu-ispolzovat-toxu/1326">Для чего нужен сайт Toxu?</a><br>
<i class="small">Как я могу использовать сайт Toxu, для чего...</i><br><br>

<div class="adm"><i>Не нашли ответа на свой вопрос?</i>  <a target="_blank" href="https://toxu.ru/c/toxu">Задайте его в разделе Toxu.</a></div>
<br>
<section class="about contact">
<h3>{{d-icon "envelope-o"}} Контакты</h3>
Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">
<br> 
Можно задать вопрос и на самом сайт: <a target="_blank" href="https://toxu.ru/t/predlozheniya-pozhelaniya-po-sajtu-toxu-ru-obshhaya-tema/4544">предложения, пожелания по сайту Toxu.ru</a>  (общая тема)...
</section>

</div></div>
<div class="sidb">
<a class="menu" href="https://toxu.ru/help"> {{d-icon "caret-right"}} Помощь по сайту</a>
<a class="menu" href="https://toxu.ru/pravila"> {{d-icon "caret-right"}} Правила и рекомендации</a>
<a class="menu" href="https://toxu.ru/features"> {{d-icon "caret-right"}} Возможности сайта</a>
<a class="menu" href="https://toxu.ru/level"> {{d-icon "caret-right"}} Уровни доверия</a>
<span class="menu"> {{d-icon "caret-right"}} Часто задаваемые вопросы</span>
<a class="menu" href="https://toxu.ru/dev"> {{d-icon "caret-right"}} Для разработчиков</a>
<a class="menu" href="https://toxu.ru/donate"> {{d-icon "caret-right"}} Хотите помочь проекту?</a>
{{mount-widget widget="page-my-menu"}}
<a class="menu contacts" href="https://toxu.ru/contacts"> {{d-icon "caret-right"}} Контакты</a> 
</div>
</div>
