<style type="text/css">
img.img {border: 1px solid #e9e9e9;margin-top: 15px;margin-bottom: 15px;box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);}
h3 {font-weight: 600;font-size:18px;}
h1 {font-size: 22px;margin-top: 5px;color: #444;}
tbody {border-top: none;}
tr {border-bottom: none;}
img {max-width: 95%;}
a.gramota{background: #0095ff;padding: 6px 12px;color: #fff;}
a.gramota:hover{background: #09c;;padding: 6px 12px;color: #fff !important;}    
.progress-bar {
        background-color: #eee;
        height: 25px;
        padding: 5px;
        max-width: 450px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;

}

.progress-bar span {
        display: inline-block;
        height: 25px;
        max-width: 300px;
background: #339900;
}
.menu {margin: 15px;display: block;}
.menu i.fa {margin-right: 5px;}
a.menu {display: block;margin: 15px;color: #222;}
a.menu:hover, span.menu {color: #f56400;}
i.small {font-size: 15px;}
.sidb {width: 265px;float: left;margin-top: 13px;font-size: 15px;}
.help-telo {margin-left: 20px !important;width: 71%; float: right;background: #fff;padding: 10px 20px 10px 30px;}
a.contacts{margin-top: 30px;}
@media screen and (max-width: 1200px) {.help-telo {width: 67%;}}
@media screen and (max-width: 1000px) {.help-telo, .sidb {width: 93%;}.sidb {margin-top: 1px;}}
</style>

<div class="help">
<div class="blog-list">
<div class="help-telo"> 

{{mount-widget widget="page-stats"}}

</div></div>
<div class="sidb">
<a class="menu" href="https://toxu.ru/help"> {{d-icon "caret-right"}} Помощь по сайту</a>
<a class="menu" href="https://toxu.ru/pravila"> {{d-icon "caret-right"}} Правила и рекомендации</a>
<a class="menu" href="https://toxu.ru/features"> {{d-icon "caret-right"}} Возможности сайта</a>
<a class="menu" href="https://toxu.ru/level"> {{d-icon "caret-right"}} Уровни доверия</a>
<a class="menu" href="https://toxu.ru/ask"> {{d-icon "caret-right"}} Часто задаваемые вопросы</a>
<a class="menu" href="https://toxu.ru/dev"> {{d-icon "caret-right"}} Для разработчиков</a>
<a class="menu" href="https://toxu.ru/donate"> {{d-icon "caret-right"}} Хотите помочь проекту?</a>  
<span class="menu">{{d-icon "caret-right"}} Мои возможности</span>
<a class="menu contacts" href="https://toxu.ru/contacts"> {{d-icon "caret-right"}} Контакты</a> 
</div>
</div>
